.chain {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.link {
  display: flex;
  flex-direction: row;
  gap: var(--gap-medium);
  align-items: baseline;
}

.label {
  font-weight: bold;
  min-width: 9rem;
}

.status {
  min-width: 6rem;
  font-family: monospace;
}

.arrow {
  font-family: monospace;
  padding-left: var(--gap-medium);
}

.actions {
  display: flex;
  flex-direction: row;
  gap: var(--gap-small);
  margin: var(--gap-medium) 0;
}
