<mat-toolbar color="accent">
  <mat-toolbar-row>
    <div class="title">SPA Skills</div>
    <div>
      <button mat-raised-button (click)="addItem()" color="primary">Add</button>
      <mat-slide-toggle [checked]="store.showAll()" (change)="store.toggleShowAll()" color="primary">
        ShowAll
      </mat-slide-toggle>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="skillrow header">
  <div class="id">ID</div>
  <div class="name">Name</div>
  <div class="completed">Completed</div>
  <div class="cmd">Actions</div>
</div>
@if (store.isPending()) {
  <p>Loading skills...</p>
}
@if (store.error(); as err) {
  <p class="error">{{ err }}</p>
}
@for (sk of store.visibleSkills(); track sk.id) {
  <app-skill-row [skill]="sk"
    (itemDeleted)="deleteItem($event)"
    (itemCompleted)="toggleItemComplete($event)"
   />
}
<app-skills-kpi />
