<div class="card">
  <div class="card-header">
    <h2 class="card-title">Content Projection</h2>
  </div>
  <div class="card-content">
    <div class="flex flex-wrap items-center gap-2">
      <button type="button" class="btn btn-primary" (click)="openPopup()">
        Show in Popup
      </button>
    </div>
  </div>
</div>

<ux-split>
  <div class="title">The Title</div> 
  <div class="main">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, pariatur eos
    quaerat recusandae perferendis alias facere modi minus cupiditate similique
    quasi at labore saepe officiis nesciunt sint? Quae, voluptate quos! Ut rem
    sapiente dolores molestias, voluptatem hic fugiat architecto assumenda?
    Ducimus dolorem at exercitationem corrupti illo animi. Ad, nostrum impedit,
    odit, temporibus quidem nam nesciunt ducimus vero ratione repellat atque.
  </div>
  <div class="sidebar">
    <ux-button [icon]="'keyboard_arrow_right'"
      [label]="'Go Back'" />
    <ux-button [label]="'Bearbeiten'"
      [icon]="'edit'"
      [disabled]="isDisabled"
     />
  </div>
</ux-split>

<dialog #popup class="modal w-[min(92vw,60rem)]" aria-label="Split popup">
  <div class="card">
    <div class="card-content">
      <app-split-popup />
    </div>
    <div class="card-actions justify-end">
      <button type="button" class="btn btn-outline" (click)="closePopup()">Close</button>
    </div>
  </div>
</dialog>
