.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-medium);
  padding: var(--gap-small) 0;
  border-bottom: 1px solid #e2e8f0;
}

.title {
  flex-grow: 5;
}

.no-delete {
  min-width: 80px;
}
