.row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;

  label {
    width: 80px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}
