<div class="skillrow">
  <div class="id">ID: {{ skill().id }}</div>
  <div class="name">{{ skill().name }}</div>
  <div class="completed">
    <span class="icon">{{ skill().completed ? 'check_circle' : 'radio_button_unchecked' }}</span>
  </div>
  <div class="cmd">
    <button
      type="button"
      class="btn btn-primary"
      [routerLink]="['/skills', skill().id]">
      <span class="icon">edit</span>
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="deleteItem(skill())">
      <span class="icon">delete</span>
    </button>
  </div>
</div>
