<div boxed>
  <div class="field">
    <label class="label" for="task-state">Choose a state for the tasks to show</label>
    <select id="task-state" class="input" (change)="onStatusChange($event)">
      <option value=""></option>
      @for (option of options; track $index) {
        <option [value]="option === 'Completed' ? 'true' : 'false'">
          {{ option }}
        </option>
      }
    </select>
  </div>
</div>

<div class="result">
  @for (skill of skillsResource.value(); track $index) {
    <div>
      {{ skill.name }}
    </div>
  }
</div>
