.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.error {
  font-size: 0.8125rem;
  color: #dc2626;
}

h3 {
  padding: var(--gap-medium);
  font-size: 0.9375rem;
  font-weight: 600;
}
