.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--gap-small);
}

.content {
  border: 1px solid var(--color-line);
  padding: var(--gap-medium);
}
