<app-markdown-renderer [md]="'multi-guard'" />
<div class="card">
  <div class="card-header">
    <h2 class="card-title">{{ title }}</h2>
  </div>
  <div class="card-content">
    <div class="flex flex-wrap gap-2">
      <button type="button" class="btn btn-primary" (click)="toggleLoggedIn()">Toggle LoggedIn</button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="togglePrimeMember()"
        [disabled]="btnTogglePrimeDisabled()"
      >
        Toggle Prime Member
      </button>
      <button type="button" class="btn btn-primary" [routerLink]="['members']">Go to Members</button>
      <button type="button" class="btn btn-primary" [routerLink]="['prime']">Go to Prime Members</button>
    </div>
    <pre tabindex="0" role="region" aria-label="Current authentication state">Currently logged in: {{ user() | json }}
Prime member: {{ isPrimeMember() }}</pre>
  </div>
</div>

<router-outlet />
