<div class="card">
  <div class="card-header">
    <h2 class="card-title">Edit</h2>
  </div>
  <div class="card-content">
    <form column>
      <div class="field">
        <label class="label" for="presenter-name">Name</label>
        <input
          id="presenter-name"
          class="input"
          type="text"
          placeholder="Enter name"
          [formField]="personForm.name"
        />
      </div>
      @if (personForm.name().touched() && personForm.name().invalid()) {
        @for (err of personForm.name().errors(); track err.kind) {
          <div class="error">{{ err.message }}</div>
        }
      }
      <div class="field">
        <label class="label" for="presenter-age">Age</label>
        <input
          id="presenter-age"
          class="input"
          type="number"
          placeholder="Enter age"
          [formField]="personForm.age"
        />
      </div>
      @if (personForm.age().touched() && personForm.age().invalid()) {
        @for (err of personForm.age().errors(); track err.kind) {
          <div class="error">{{ err.message }}</div>
        }
      }
    </form>
  </div>
  <div class="card-actions justify-end">
    <button type="button" class="btn btn-primary" (click)="doSave()">Save</button>
  </div>
</div>
