<div class="query-panel">
  <div class="projected">
    <ng-content />
  </div>

  <div class="report">
    <p>contentChild('headline'): {{ readHeadline() }}</p>
    <p>contentChildren('entry') matched {{ entryCount() }} nodes</p>
    <button type="button" class="btn btn-outline" (click)="readTexts()">Read projected text</button>

    @if (collected().length) {
      <ul>
        @for (text of collected(); track $index) {
          <li>{{ text }}</li>
        }
      </ul>
    }
  </div>
</div>
