<div class="app-toolbar app-toolbar-primary h-[var(--toolbar-big)] gap-2.5">
  <div (click)="toggleMenu()" class="hamburgerMenu">
    <span class="icon">menu</span>
  </div>
  <div><img width="50px" src="images/angular.svg" /></div>
  <div class="menuContainer">
    @for (mi of menuItems(); track mi) {
      <div
        routerLink="{{ '/' + mi.url }}"
        routerLinkActive="navLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navLink"
        >
        {{ mi.label }}
      </div>
    }
  </div>
  <div (click)="toggleApps()" class="hamburgerMenu">
    <span class="icon">apps</span>
  </div>
</div>
