<form [formGroup]="searchForm" class="ux-filter" [style.background-color]="color ? color : 'white'">
  <div class="ux-filter-field">
    <label class="sr-only" [attr.for]="inputId">{{ placeholder }}</label>
    <input #input [id]="inputId" class="ux-filter-input" [placeholder]="placeholder" formControlName="value" (keydown)="handleKeydown($event)">
    @if (localSpinner) {
      <app-progress-bar class="spinner" mode="indeterminate" />
    }
  </div>
  @if (noResults) {
    <div class="noResultsMessage">
      {{ noResultsMessage }}
    </div>
  }
</form>
