.filter-form {
  position: sticky;
  top: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-line);
  z-index: 100;
  font-size: inherit;
  border-radius: 0;
  padding: 16px;
  box-sizing: border-box;
}

.noResultsMessage {
  margin-top: 10px;
  font-size: 0.875rem;
}
