<div class="card">
  <div class="card-header">
    <div class="card-title">Mock Markdown Editor</div>
  </div>
  <div class="card-content" column>
    @if (!editorEdit()) {
      <app-markdown-list [items]="allItems()" [demoUrl]="demoUrl()" [demoSaved]="isDemoSaved()"
        (itemEdit)="editMarkdownItem($event)"
        (itemDelete)="deleteMarkdownItem($event)"
       />
    }
    @if (editorEdit() && current() != null) {
      <app-markdown-edit [(markdownItem)]="currentItem" [mdSrc]="current()!.id === -1 ? current()!.comment : null" />
    }
  </div>
  <div class="card-actions justify-end">
    @if (editorEdit()) {
      <button type="button" class="btn btn-primary" (click)="saveMarkdownItem()">Save</button>
      <button type="button" class="btn btn-primary" (click)="editorEdit.set(false)">Cancel</button>
    }
  </div>
</div>
