.grid {
  display: grid;
  grid-template-rows: var(--toolbar-big) auto;
  grid-template-columns: auto;
  grid-template-areas:
    "navbar"
    "mainrow";
  height: 100vh;
  height: 100dvh;
}

.gdNavbar {
  grid-area: navbar;
  position: relative;
}

.gdMainrow {
  grid-area: mainrow;
  overflow: hidden;
}
