<div class="card">
  <div class="card-header">
    <h2 class="card-title">Signals Basics</h2>
  </div>

  <div class="card-content cmdItems">
    <button type="button" class="btn btn-primary" (click)="updateAmount()">
      Update Net amount
    </button>
    <button type="button" class="btn btn-primary" (click)="addAmount()">
      Add to Net amount
    </button>
    <button type="button" class="btn btn-primary" (click)="likeTopic()">
      Like topic
    </button>
    <button type="button" class="btn btn-primary" (click)="logLikes()">
      Log likes
    </button>
  </div>
</div>

<div border centered>
  <div>Net Amount {{ netAmount() }}</div>
  <div>Gross Amount {{ grossAmount() }}</div>
  <div>Likes {{ topic().likes }}</div>
</div>
