<div class="topics-container">
  <div class="loading">
    @if (store.isPending()) {
    <app-progress-bar />
    }
  </div>
  <table class="data-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      @for (topic of topics(); track topic.id) {
        <tr>
          <td>{{ topic.id }}</td>
          <td>{{ topic.name }}</td>
          <td>
            <app-slide-toggle [checked]="topic.completed" (toggled)="toggleCompleted(topic)" />
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
