<div class="app-toolbar h-full flex-col items-center gap-4 pt-12">
  <button
    type="button"
    class="btn-fab tip tip-left"
    data-tip="Toggle the SideNav"
    (click)="toggleSideNav()"
  >
    <span class="icon">menu</span>
  </button>
  @if (isDemosRoute() && layout.hasMarkdownContent()) {
    <button
      type="button"
      class="btn-fab tip tip-left"
      data-tip="Toggle Markdown Guide"
      (click)="showGuide()"
    >
      <span class="icon">help_clinic</span>
    </button>
    <button
      type="button"
      class="btn-fab tip tip-left"
      [attr.data-tip]="isEditorActive() ? 'Close Editor' : 'Open Editor'"
      [attr.aria-label]="isEditorActive() ? 'Close Editor' : 'Open Editor'"
      (click)="toggleEditor()"
    >
      <span class="icon">{{ isEditorActive() ? "cancel" : "edit_square" }}</span>
    </button>
    @if (isEditorActive()) {
      <button
        type="button"
        class="btn-fab tip tip-left"
        data-tip="Add Comment"
        aria-label="Add Comment"
        (click)="addMarkdownItem()"
      >
        <span class="icon">add</span>
      </button>
    }
  }
</div>
